:root{
    --success: rgb(0, 128, 0);
    --warning: rgb(255, 165, 0);
    --error: rgb(255, 0, 0);

    --success-light: rgb(0, 128, 0, 0.7);
    --warning-light: rgb(255, 165, 0, 0.7);
    --error-light: rgb(255, 0, 0, 0.7);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
}

.control button{
    
    color: white;
    font-size: 28px;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 20px;
    margin: 0 10px;
}

.success{
    background: var(--success);
}

.warning{
    background: var(--warning);
}

.error{
    background: var(--error);
}

#toasts{
    position: fixed;
    top: 10px;
    right: 10px;
}

.toast{
    padding: 20px 20px;
    margin: 10px 10px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 23px;
    overflow: hidden;
    position: relative;
    animation: slide_show 3s ease forwards ;
}

.toast.success{
    background: var(--success-light);
}

.toast.warning{
    background: var(--warning-light);
}

.toast.error{
    background: var(--error-light);
}

.toast .countdown{
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0;
    animation: 5s countdown ease forwards; /* luu lai last value of keyframes when ended */
}

.toast.success .countdown{
    background: var(--success);
}

.toast.warning .countdown{
    background: var(--warning);
}

.toast.error .countdown{
    background: var(--error);
}

@keyframes countdown {
    100%{
        width: 0%;
    }
    0%{
        width: 100%;
    }
}

@keyframes slide_show {
    0%{
        transform: translateX(100%);
    }
    25%{
        transform: translateX(-20px);
    }
    50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slide_hide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(10px);
    }
    50%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(200%);
    }
}